body{
    text-align:center;
}

.heading{
    width:100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading button{
    float:right;
    border:1px solid lightblue;
}